<p id="notice"><%= notice %></p>

<h1>Hi, <%= @user.name %>!</h1>

<% if @user.authenticate(params[:password]) %>
  <p class="identity">
    Your identity is: <%= @user.identity.capitalize %>
  </p>
  <button class="show-identity-btn">TODO: Show Identity</button>
<% else %>
  <% if params[:password].present? %>
    <p>Incorrect password! try again</p>
  <% end %>

  <p>Please enter your password</p>

  <%= form_tag [@game, @user], method: :get do %>
    <%= password_field_tag %>
    <%= submit_tag "Submit" %>
  <% end %>

<% end %>
