<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.created_at %></td>
        <td><%= game.missions.pluck(:status).reject(&:blank?).to_sentence %></td>
        <td><%= link_to 'Show', game %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% (5..10).each do |n| %>
  <%= link_to "New #{n}-player Game", new_game_path(num_players: n) %>
  <br>
<% end %>
