<h1>Game #<%= @game.id %></h1>
<p id="notice"><%= notice %></p>

<p>
  Missions:
  <br>
  <% @game.missions.each.with_index do |mission, n| %>
    <div class="mission">
      <%= mission.num_players %><% if @game.users.count >= 7 && n == 3 %>*<%end%>
      <%= "(#{mission.status.capitalize})" if mission.status.present? %>
      <%= button_to :success, [@game, mission], method: :patch, params: { mission: { status: Mission::SUCCESS_MISSION_STATUS } } %>
      <%= button_to :failure, [@game, mission], method: :patch, params: { mission: { status: Mission::FAILURE_MISSION_STATUS } } %>
      <%= button_to :clear, [@game, mission], method: :patch, params: { mission: { status: nil } } %>
    </div>
  <% end %>
</p>

<p>
  Vote Counter:
  <br>
  <% 6.times do |n| %>
    <%= button_tag n, class: "vote-counter-btn #{'selected' if n == 0}" %>
  <% end %>

  <%= content_for :javascript do %>
    <script>
      var voteCounterBtns = document.getElementsByClassName("vote-counter-btn");
      for(btn of voteCounterBtns) {
        btn.onclick = function() {
          for(btn of voteCounterBtns) { btn.classList.remove("selected"); };
          this.classList.add("selected");
        };
      };
    </script>
  <% end %>
</p>

<p>
  Mission Teams:
  <ol>
    <% @game.mission_teams.each do |mission_team| %>
      <li><%= mission_team.users.pluck(:name).to_sentence %> <%= link_to "Show", [@game, mission_team] %></li>
    <% end %>
  </ol>
  <br>
  <%= link_to "New Mission Team", new_game_mission_team_path(@game) %>
</p>

<p>
  Players:
  <ul>
  <% @game.users.order(:id).each do |user| %>
    <li><%= user.name %> (<%= user.id %>) <%= link_to "profile", [@game, user] %></li>
  <% end %>
  </ul>
</p>
